@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #111111;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  @apply text-gray-950;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}

body > * {
  width: 100%;
}

li {
  list-style-type: none;
}

.bg-dashboard-img {
  background-image: url("./public/dashboard_img.png");
  background-size: cover;
  background-position: center;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bg-dashboard-gradient {
  background: linear-gradient(180deg, #ffffff 0%, #eaf0f2 100%);
}

.bg-dashboard-dark {
  background-color: #eaf0f2;
}

.dragovered {
  @apply border-primary bg-dashboard-dark opacity-70;
}


.bg-playbar {
  background-color: #517D98;
}

.bg-playbar-dark {
  background-color: #101828;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
