@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #111111;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  @apply text-gray-950;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

#root {
  place-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
#root > main {
  flex: 1;
}

#root > * {
  width: 100%;
}

li {
  list-style-type: none;
}

.bg-dashboard-img {
  background-image: url("https://s3-alpha-sig.figma.com/img/a7ad/d563/1a1296588a7a290a58e8b7fe704a1bd4?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AM0ZANrO4U3y7UFk2j4u-d0qKvnDGNbJcBowjbpftiJBDOATyKJGyNhSy8iuVZuL93ETmhPuoqZjlLJ55YkFLpryslhpd0VfDq8vR-RSh0Hhg8967N~xI94etZQ4y1RZRaeBQ-qEwWk2cAMwqm7SH0oZobnZP5wuYTDIwh7QyfclmE4c-DkHC9QzPVfdEfB5uzk6eQbXZDttqhEa1cj~3lSIf5RRk0aCN3daduYZ7QLorpfGg18hs1YFDCl0DfSZl9kDrBWlIzkl4VkNUT3w7IFxPlegpCybbGbSGotEHuou2KWm-lygJtRrm-1Qj5AJVabdYIb28tcRTXjmKPcTYQ__");
  background-size: cover;
  background-position: center;
}

.bg-under-banner-gradient {
  background: linear-gradient(90.31deg, #84A3B6 0.02%, #375F80 99.73%);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bg-dashboard-gradient {
  background: linear-gradient(180deg, #ffffff 0%, #eaf0f2 100%);
}

.bg-dashboard-dark {
  background-color: #eaf0f2;
}

.dragovered {
  @apply border-primary bg-dashboard-dark opacity-70;
}

.bg-playbar {
  background-color: #517d98;
}

.bg-playbar-dark {
  background-color: #101828;
}

a {
  @apply relative;
}

a::after {
content: "";
@apply absolute left-0 -bottom-1 w-full h-[2px] bg-primary scale-x-0 transition-transform duration-300 ease-in-out opacity-80;
}

a:hover::after {
@apply scale-x-100;
}

.list-disc li {
  list-style-type: disc;
  margin-left: 1.15rem;
}

.btn {
  @apply  px-12 py-4 rounded
}

.tittle {
  @apply font-medium text-dark opacity-90 text-4xl;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
